textarea {
     background-color: #fdf4f3;
     border: 0px;
     color: #888888;
 }

::-webkit-scrollbar {
    width: 12px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #888888;
}

::-webkit-scrollbar-thumb {
    background: #151515;
}

::-webkit-resizer {
    background-color: #424242;
    border: 1px solid #888888;
    /*size does not work*/
    display: block;
    width: 150px !important;
    height: 150px !important;
}

.container
{
    width: 100%; !important;
    overflow-x: hidden;
}

body, html{
    padding: 0.05%; !important;
    margin: 0; !important;
    overflow-x: hidden;
}
